<router-outlet></router-outlet>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="header"> 
  <div class="container">
      <h1>Calipers</h1>
      <h1>Portfolio</h1>
      <<h1>Team</h1>
  </div>
</div>
<div class="main">
      logo for stevewalsh a finfischley symbol
      novelists, poets, music
      lets have some fucking opinions on this thing
  <div ng-repeat="media"></div>
      <div class="thumbnail">
          <!-- <img ng-src="{{ items.cover }}"> -->
          <!-- <p class="media">"{{media}}"</p>
          <p class="title">"{{title}}"</p>
          <p class="artist">"{{artist}}"</p> -->
          <!-- <p class="review">"{{items.review}}"</p> -->
      <!-- </div>
</div> --> 

